.navigationbar{
  display: flex;
  justify-content: center;
} 
body{
  background: linear-gradient(#f4dbfb,#d8dbfe);
}

.title h1{
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  
}
.title h6{
  font-family: "Amita", serif;
  letter-spacing: 3px;    
}
.titletext{
  float:right;
  margin-right: 70vmin;
  margin-top: 7vmin;
}
.title{
  margin-top: 10%;
 margin-left: 70vmin;
 margin-bottom: 20%;
}
.button2 {
display: inline-block;
transition: all 0.2s ease-in;
position: relative;
overflow: hidden;
z-index: 1;
color: #090909;
margin: 10px;
padding: 0.7em 1.7em;
cursor: pointer;
font-size: 18px;
border-radius: 0.5em;
background: #e8e8e8;
border: 1px solid #e8e8e8;
box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
color: #666;
box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%) scaleY(1) scaleX(1.25);
top: 100%;
width: 140%;
height: 180%;
background-color: rgba(0, 0, 0, 0.05);
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}

.button2:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #f5b5f5;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}

.button2:hover {
color: #ffffff;
border: 1px solid #f5b5f5;
}

.button2:hover:before {
top: -35%;
background-color: #f5b5f5;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
top: -45%;
background-color: #f5b5f5;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.login{
  display: flex;
  float: right;
}
.cssbuttons-io-button {
top: 2vmin;
right: 3vmin;
background: #f5b5f5;
color: white;
font-family: inherit;
padding: 0.35em;
padding-left: 1.2em;
font-size: 17px;
font-weight: 500;
border-radius: 0.9em;
border: none;
letter-spacing: 0.05em;
display: flex;
align-items: center;
box-shadow: inset 0 0 1.6em -0.6em #f5b5f5;
overflow: hidden;
position: absolute;
height: 2.8em;
padding-right: 3.3em;
cursor: pointer;
}

.cssbuttons-io-button .icon {
background: white;
margin-left: 1em;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
height: 2.2em;
width: 2.2em;
border-radius: 0.7em;
box-shadow: 0.1em 0.1em 0.6em 0.2em #9973d1;
right: 0.3em;
transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
width: 1.1em;
transition: transform 0.3s;
color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
transform: scale(0.95);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #f4dbfb;
}
::-webkit-scrollbar-thumb{
  background: #f4dbfb;
  border-radius: 10px;
  border: 3px solid #fff;
}